$green: #99ddc8;
$darkGreen: #95bf74;
$brown: rgb(29, 26, 5);
$brown60: rgba(29, 26, 5, 0.6);
$darkGray: #555555;
$gray100: rgb(60, 60, 60);
$gray20: rgba(60, 60, 60, 0.2);
$lightGray100: rgb(153, 221, 200);
$lightGray60: rgba(153, 221, 200, 0.6);
$lightGray40: rgba(153, 221, 200, 0.4);
