@import '../../styles/breakpoints.scss';

.new-rating {
  position: fixed;
  z-index: 10;
  bottom: 2rem;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;

  transition: bottom 0.5s ease-in-out;
}

.ratings {
  margin-left: calc(var(--app-padding) * -1);
  margin-right: calc(var(--app-padding) * -1);
  > div:nth-of-type(2n) {
    background: var(--color-theme-background);
  }
  > div:nth-of-type(2n + 1) {
    background: var(--color-theme-secondary-accent);
  }
}

.rating-selector {
  color: var(--color-theme-text-on-dark-60);
  transition: filter 100ms linear;
  cursor: default;
  &:not(.selected) {
    &:hover {
      cursor: pointer;
      filter: brightness(0.9);
    }
    &:active {
      filter: brightness(0.8);
    }
  }
  &.selected {
    color: var(--color-theme-text-on-dark);
  }
  &:last-child {
    margin-left: 1rem;
  }
}
