@import '../../styles/breakpoints.scss';

.new-rating {
  position: fixed;
  z-index: 10;
  bottom: 2rem;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;

  transition: bottom 0.5s ease-in-out;

  @include tablet {
    bottom: 5rem;
  }
}

.ratings {
  margin-left: calc(var(--app-padding) * -1);
  margin-right: calc(var(--app-padding) * -1);
  > div:nth-of-type(2n) {
    background: var(--color-theme-background);
  }
  > div:nth-of-type(2n + 1) {
    background: var(--color-theme-secondary-accent);
  }
}
