@mixin custom-input {
  border: unset;
  outline: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
  border-radius: var(--app-border-radius);
  background: var(--color-theme-secondary);
  color: var(--color-theme-text-on-dark);
  padding: 0.6rem 0.6rem;
  position: relative;
  &:invalid {
    color: red;
  }
  &:valid {
    color: var(--color-theme-success);
  }
}

.text {
  @include custom-input;
}

.radio {
  @include custom-input;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  > div {
    padding: 0.6rem 0.6rem;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    position: relative;
    input {
      visibility: hidden;
      &:checked + label {
        font-weight: bold;
        background: var(--color-theme-background-accent);
      }
    }
    label {
      padding: 0.6rem 0.6rem;
      width: 100%;
      box-sizing: border-box;
      text-align: center;
      cursor: pointer;
      z-index: 2;
      font-weight: lighter;
      position: absolute;
      margin: 0;
    }
  }
}

.textarea {
  @include custom-input;
  min-width: 100%;
  width: 100%;
  box-sizing: border-box;
  line-height: 120%;
  min-height: 3rem;
}

.number {
  @include custom-input;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  -moz-appearance: textfield;
  text-align: right;
  position: relative;
}

.suffix {
  background: var(--color-theme-background-accent);
  color: var(--color-theme-text-on-dark);
  padding: 0.6rem 0.6rem;
  font-weight: bold;
  color: var(--color-theme-text-on-dark);
}

.group {
  display: flex;
  flex-flow: column;
  label {
    color: var(--color-theme-text-on-dark-60);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
    &.required-input {
      &::after {
        font-weight: lighter;
        opacity: 0.5;
        letter-spacing: 0.05rem;
        content: ' required';
      }
    }
  }
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: var(--app-border-radius);
  background: var(--color-theme-secondary);
  box-sizing: border-box;
  input {
    flex-grow: 1;
  }
}

.select {
  @include custom-input;
  padding: 0.5rem 0.5rem;
  width: calc(100% - 0.5rem);
  option {
    padding: 0;
    min-height: 12px;
  }
  &:invalid {
    color: var(--color-theme-text-on-dark);
  }
  &:valid {
    color: var(--color-theme-text-on-dark);
  }
}
